@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    src: local("Noto Sans CJK JP Light"),
         url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format('woff2'),
         url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format('woff'),
         url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Noto Sans JP","ƒƒCƒŠƒI",Meiryo,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}

.topnav {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.lead {
    font-size: 18.5px;
    font-weight: 300;
    line-height: 1.5em;
}

.lead-bold {
    font-size: 18.5px;
    font-weight: 400;
    line-height: 1.5em;
}

.lead-small {
    font-size: 15.5px;
    font-weight: 400;
    line-height: 1.5em;
    text-indent: 0.5em;
    color: #808080;
}

.btn-lead-link {
    float: right;
    position: relative;
    z-index: 2;
}

.btn-sm {
    font-size: 15px;
    font-weight: 300;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/cavern.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    font-size: 1.35em;
    padding-top: 0.6em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
}

.fade-in {
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 2px solid #e7e7e7;
}

.section-heading-spacer-noline {
    padding: 15px 0;
}

.banner {
    padding: 40px 0;
    color: #f8f8f8;
    background-color: #2f2f2f;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
 
.customlist li{
    list-style-type: none !important;
    list-style-image: none !important;
    margin: 5px 0px 5px 0px !important;
}
.licenselist li {
    position: relative;
}
.licenselist li::after {
    display: block;
    content: '';
    position: absolute;
    top: .5em;
    left: -1em;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

::selection {
  background: #E0E0E0;
}
::-moz-selection {
  background: #E0E0E0;
}